#header {
  position: relative;
  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 7px solid #17b4e3;
  height: 84px;
  background: transparent;
  align-items: center;
}

#header a {
  color: #1E4193;
  text-decoration: none;
}

#logo {
  float: left;
  width: 72px;
  height: 72px;
  display: block;
}

#siteNameBox {
  flex: 1 1 auto;
}

#siteName {
  font-size: 125%;
}

.version-info a:hover {
  text-decoration: underline !important;
}